@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.App {
  background-color: #343a4b;
  height: 100vh;
  color: #ece3e2;
  font-family: "Montserrat", sans-serif;
}
